html
    head
        title 登录 | 马路北
        style.
            @font-face {font-family: 'iconfont';
                src: url('/public/iconfont.eot'); /* IE9*/
                src: url('/public/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                url('/public/iconfont.woff') format('woff'), /* chrome、firefox */
                url('/public/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
                url('/public/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
            }
            .iconfont{
                font-family:"iconfont" !important;
                font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0.2px;
                -moz-osx-font-smoothing: grayscale;
            }
            body{
                margin: 0;
                background: #22aced;
                color: #FFF;
                font-size: 12px;
            }
            a{
                text-decoration: none;
            }
            form{
                margin: 0;
            }
            .mb10{
                margin-bottom: 10px;
            }
            ul{
                margin: 0;
                padding: 0;
            }
            ul li{
                list-style: none;
            }
            .login_input{
                display: block;
                border: 0;
                height: 32px;
                line-height: 32px;
                width: 200px;
                padding: 0 10px;
                background: #FFF;
                border-radius: 2px;
                transition: background .2s linear;
            }
            .login_input:focus {
                outline: 0;
                background: #f2f4f7;
            }
            button{
                float: right;
                border: 0;
                height: 74px;
                width: 74px;
                background: #D9DAE0;
                border-radius: 4px;
                color: #FFF;
                font-size: 20px;
                transition: background .2s linear;
                cursor: pointer;
            }
            button:hover{
                background: #ff4e00;
            }

            .container{
                max-width: 800px;
                margin: 80px auto 0;
            }
            .content_left{
                float: left;
                width: 400px;
            }
            .auth_title{
                margin: 10px 0 20px;
            }
            .auth_list{
                padding-left: 15px;
            }
            .content_right{
                margin-left: 460px;
                padding: 10px;
            }

            .login_btns{
                width: 320px;
            }
            .login_btns li{
                padding: 15px;
                background: #FFF;
                border-radius: 4px;
                height: 70px;
                width: 100%;
                margin-bottom: 20px;
                box-shadow: 0 0 25px rgba(0,0,0,.15);
                transition: margin-left .2s ease-out;
                box-sizing: border-box;
            }
            .login_btns li:hover{
                margin-left: 10px;
            }
            .login_btns li.login_form{
                height: auto;
            }
            .login_btns li a{
                display: block;
                width: 100%;
                height: 100%;
            }
    body
        .container
            .content_left
            .content_right
                ul.login_btns
                    li.login_form
                        form(method='post' action='/signup')
                            button(type='submit') 注册
                            input.login_input.mb10(type='text' placeholder='用户名' name='username')
                            input.login_input(type='password' placeholder='密　码' name='password')
